@import url(../blocks/footer/__column/_content_copyright/footer__column_content_copyright.css);
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  justify-content: space-between;
}
